<div class="lg:p-5 sm:p-3">
  <mat-card class="white-card px-[0px] pb-0 overflow-hidden custom-card">
    <mat-card-header class="flex items-center justify-between px-[10px] pb-[15px]">
      <div mat-card-title class="mb-0">Bank Accounts</div>
      <button mat-raised-button color="primary" class="text-white flex items-center" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>Create Account</span>
      </button>
    </mat-card-header>

    <mat-card-content class="mb-0">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="w-full white-table custom-table">
          <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Account Name </th>
            <td mat-cell *matCellDef="let account" class="whitespace-nowrap	"> {{account.name}} </td>
          </ng-container>
          <ng-container matColumnDef="accountNumber">
            <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap"> Account Number </th>
            <td mat-cell *matCellDef="let account" class="whitespace-nowrap	"> {{account.number}} </td>
          </ng-container>
          <ng-container matColumnDef="actions" stickyEnd="true">
            <th mat-header-cell *matHeaderCellDef class="w-[110px] px-[10px] whitespace-nowrap	"></th>
            <td mat-cell *matCellDef="let account" class="w-[110px] px-[10px] whitespace-nowrap">
              <button mat-icon-button (click)="editAccount(account)">
                <mat-icon class="text-primary">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteAccount(account)">
                <mat-icon class="text-red-600">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="compact-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="compact-cell-row"></tr>
        </table>
      </div>
    </mat-card-content>

    <mat-card-footer class="m-0  rounded-b-sm overflow-hidden bg-white text-black">
      <mat-paginator class="bg-white white-paginator" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons>
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>