<div class="full-wh">
  <!-- STAR ANIMATION -->
  <div class="bg-animation">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='stars4'></div>
  </div><!-- / STAR ANIMATION -->
</div>
<div class="page-wrapper">

  <!-- account section start -->
  <div class="account-section bg_img" data-background="assets/images/bg/bg-5.jpg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7">
          <div class="account-card">
            <div class="account-card__header bg_img overlay--one"
              [ngStyle]="{'background-image': 'url(./assets/images/bg/login-bg.png)'}">
              <h2 class="section-title">Welcome to <span class="base--color">{{constant.appName}}</span></h2>
              <p>Enter your email to reset your password.</p>
            </div>
            <div class="account-card__body">
              <h3 class="text-center">Recover Password</h3>
              <form class="mt-4">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email" placeholder="Enter email address"
                    [(ngModel)]="form.email" [class.border-red-500]="errors['/email']">
                  <ng-container *ngTemplateOutlet="errorTemplate; context: { key: '/email' }"></ng-container>
                </div>
                <ng-container *ngIf="isInitialEmailSent">
                  <div class="form-group">
                    <label>One Time Password (OTP)</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter one time password" name="otp"
                      [(ngModel)]="form.otp" [class.border-red-500]="errors['/otp']">
                    <ng-container *ngTemplateOutlet="errorTemplate; context: { key: '/otp' }"></ng-container>
                  </div>
                  <div class="form-group relative">
                    <label>Password</label>
                    <input type="password" class="form-control" id="mlm-password" placeholder="Enter password"
                      name="mpm-pwd" [(ngModel)]="form.password" [class.border-red-500]="errors['/password']">
                    <ng-container *ngTemplateOutlet="errorTemplate; context: { key: '/password' }"></ng-container>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="cpwd" placeholder="Enter confirm password"
                      [(ngModel)]="form.cpassword" [class.border-red-500]="errors['/cpassword']">
                    <ng-container *ngTemplateOutlet="errorTemplate; context: { key: '/cpassword' }"></ng-container>
                  </div>
                  <div class="form-group relative">
                    <div class="flex items-center">
                      <span class="text-sm cursor-pointer ml-[3px]">
                        Don't get OTP? <a class="text-primary font-bold" (click)="getEmailToRecoverPassword()">Resend
                          OTP</a>
                      </span>
                    </div>
                  </div>
                </ng-container>
                <div class="form-group flex items-center justify-between mt-[35px]">
                  <button mat-flat-button color="primary" class="px-[35px] py-[7px]"
                    (click)="getEmailToRecoverPassword()" *ngIf="!isInitialEmailSent">Recover Password</button>
                  <button mat-flat-button color="primary" class="px-[35px] py-[7px]" (click)="resetPassword()"
                    *ngIf="isInitialEmailSent">Reset</button>
                  <p class="text-md">Haven't an account? <a [routerLink]="['/auth/signup']" class="base--color">Sign
                      Up</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- account section end -->

</div> <!-- page-wrapper end -->



<ng-template #errorTemplate let-key="key">
  <div class="text-red-500 text-[10px] absolute" *ngIf="errors && errors[key]">
    {{ errors[key] }}
  </div>
</ng-template>