.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 150px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}