<div class="lg:p-5 sm:p-3">
  <div class="flex items-center justify-center">
    <div class="grid gap-3 mt-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1"
      *ngIf="user_pro_status == 'NOT_PRO'">
      <div class=" mb-30" *ngFor="let plan of plans">
        <div class="package-card text-center bg_img" style="background-image: url('assets/images/bg/bg-4.png');">
          <h4 class="package-card__title base--color mb-2">{{plan.plan_name}}</h4>
          <ul class="package-card__features mt-4">
            <li>For Lifetime</li>
            <li>Lifetime Earning</li>
          </ul>
          <div class="package-card__range mt-5 base--color">₹ {{plan.amount}}</div>
          <a class="cmn-btn btn-md mt-4" (click)="purchase(plan.plan_id)">Invest Now</a>
        </div>
      </div>
    </div>
    <!-- <mat-card class="white-card overflow-hidden text-center p-[20px] flex-shrink-0 max-w-full"
      *ngIf="user_pro_status == 'NOT_PRO'">
      <mat-card-content class="text-center">
        <h1 class="text-4xl font-bold text-primary">
          Welcome to Easy Earn!
        </h1>
        <p class="text-slate-500">Purchase Plan</p>
        <div class="flex items-center mt-5">
          <mat-select class="w-full p-2 mr-5 border rounded-md no-error-spacing white-select" [(ngModel)]="form.plan"
            placeholder="Select Plan" [compareWith]="compareFn">
            <mat-option *ngFor="let plan of plans" [value]="plan">
              {{ plan.plan_name }} - (₹ {{plan.amount}})
            </mat-option>
          </mat-select>

          <button mat-raised-button color="primary" class="text-white flex-shrink-0"
            (click)="purchase(form.plan.plan_id)">Purchase</button>
        </div>
      </mat-card-content>
    </mat-card> -->

    <mat-card class="white-card max-w-full overflow-hidden text-center p-[20px] flex-shrink-0"
      *ngIf="user_pro_status == 'PENDING'">
      <mat-card-content class="text-center p-[30px]">
        <mat-icon color="primary" class="mb-[20px] w-[100px] text-[30px] h-[30px]">thumb_up</mat-icon>
        <p class="font-normal">
          We have received your purchase request and will review it within 24 hours to approve your payment. Once
          approved, you
          can refer others to our services.
        </p>
        <!-- You can check your transaction details. -->
        <!-- <div>

        </div> -->
      </mat-card-content>
    </mat-card>

    <mat-card class="white-card overflow-hidden text-center p-[20px] flex-shrink-0 max-w-full"
      *ngIf="user_pro_status == 'PRO'">
      <mat-card-content class="text-center p-[30px]">
        <p class=" font-semibold text-primary">
          We're writing to confirm that the plan has been successfully purchased.
        </p>
        <!-- You can check your transaction details. -->
        <!-- <div>

        </div> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>